fastapi
dotenv
langchain
asyncpg
langchain_openai
langchain_mcp_adapters
sqlalchemy[asyncio]
pypdf
langchain_chroma
langchain-community
langchain-openai
langchain_huggingface
sentence-transformers
unstructured
beautifulsoup4
httpx